*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ffff;
    font-size: 1.3em;
    line-height: 1.4em;
    margin-bottom: 0 auto;
}
.header{
    background-color:rgb(84, 84, 88);
    color: #ffff;
    padding: 2rem 0;
    position:fixed;
    left: 0;
    top: 0;
    width: 100%;

}
.header a{
    color: #ffff;
    text-decoration: none;
}
.titulo-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.titulo{
    letter-spacing: 5px;
    font-size: 35px;
    margin: auto;
    
}
.menu ul{
   margin: 0;
   padding: 0;
   list-style: none;
}
.menu ul li{
    display: inline-block;
    padding: 5px 5px;
    line-height: normal;
    font-size: 18px;

}
.menu ul li a{
    display: block;
    padding: 0.5rem 1rem;
}
.menu ul li a:hover{
    background-color: rgb(23, 51, 42);
}

.texto{
    padding: 10rem;
    
}
p{
    margin-bottom: 1rem;
    margin-bottom: 0 auto;
}
.title{
    text-align: center;
}
.img{
    text-align: center;
}
.imagen2{
    width: 50%;
    height: 50%;
}

.footer{
    background-color: rgb(82, 153, 153);
    padding: 2rem 0;
    text-align: center;
    margin-top: 1rem;
}

@media only screen and (max-width:900px){
    body{
        background-color: rgba(51, 35, 35, 0.671);
    }
    .title{
        letter-spacing: 8px;
        font-size: 50px;
        padding: 8px;
    }
    .texto{
        padding: 10rem;
        
    }
    .imagen2{
        width: 60%;
        height: 60%;
    }
    .footer{
        background-color: rgb(55, 75, 75);
    }
    .titulo{
        letter-spacing: 8px;
        font-size: 35px;
    }
    .menu ul li{
        font-size: 20px;
        letter-spacing: 1px;
        letter-spacing: 3px;
     
     }
}
@media only screen and (max-width:650px){
    body{
        background-color: rgba(163, 159, 161, 0.671);
    }
    .header{
        padding: 1rem 0;
    }
    .titulo-container{
    justify-content: space-between;
    }
    .titulo{
        letter-spacing: 8px;
        font-size: 25px;
    }
    .menu ul li{
        font-size: 15px;
        letter-spacing: 1px;
     }
     .imagen2{
        width: 350px;
        height: 200px;
    }
    .title{
        text-align: center;
        font-size: 30px;
        padding: 4rem;
    }
    .texto{
        padding: 50px;
        
    }

}
